NEXT_PUBLIC_DOMAIN=coinpoet.com

# server: get them at https://developer.ebay.com/my/keys
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_ENVIRONMENT=PRODUCTION

# ebay's campaign id is at https://partner.ebay.com/secure/mediapartner/ads/view-flexi-flow.ihtml?execution=e1s1 and click on "campaigns"
EBAY_AFFILIATE_CAMPAIGN_ID=

# analytics: get them at https://app.posthog.com/settings/project-details
NEXT_PUBLIC_POSTHOG_KEY=
#PROD NEXT_PUBLIC_POSTHOG_HOST=https://coinpoet.com/a
NEXT_PUBLIC_POSTHOG_HOST=http://localhost:3000/a


# prisma / db:
# get from neon
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
