.DS_Store

node_modules/

data/**/*.numbers

.turbo
.vercel
e2e-tests/test-results/.last-run.json
.gitignore
packages/benchmark-scraper/test-results/.last-run.json
e2e-tests/playwright-report/index.html
