// see https://nextjs.org/docs/app/building-your-application/styling/sass

@import "bootstrap/all";

// misc:
.underline-on-hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline !important;
  }
}

.fs-small {
  font-size: $font-size-sm;
}

@each $breakpoint, $container-max-width in $container-max-widths {
  .max-width-container-#{$breakpoint} {
    max-width: $container-max-width;
  }
}

// use to make the max width 30% of the container on medium and up screens:
@include media-breakpoint-up(md) {
  .max-width-30-md {
    max-width: 30%;
  }
}

// use to make the max width 75% of the viewport on x-small and up screens:
@include media-breakpoint-up(xs) {
  .max-width-vw-75-xs {
    max-width: 75vw;
  }
}
// use to make the max width 25% of the viewport on medium and up screens:
@include media-breakpoint-up(md) {
  .max-width-vw-25-m {
    max-width: 25vw;
  }
}

// used in some pills to adjust to dark mode:
@include color-mode(dark) {
  .text-bg-inverse {
    background-color: $light;
    color: $dark;
  }
}
@include color-mode(light) {
  .text-bg-inverse {
    background-color: $dark;
    color: $light;
  }
}
